# python compiled files
*.pyc
__pycache__

# Pyenv
.python-version

# Poetry
poetry.lock

# Data direcotry from Welzia
data

# vscode stuff
.vscode

# Sphinx
docs/build
*.ipynb_checkpoints

# Keep env var safe
.env

# temporary folder
to_remove
logs
